@model Medicard.Services.ViewModels.Doctor.DoctorProfileViewModel



<div class="container col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 d-flex justify-content-center">
    
    <div class="card" style="width:400px">
        <h2 class="card-text text-center">This is your Profile</h2>

        @if (String.IsNullOrEmpty(this.Model.ImagePath) && this.Model.Gender == Medicard.Domain.Entities.Enums.Gender.Male)
        {
            <img class="card-img-top" src="/images/menunknowndoctor.jpg" alt="Card image" style="width:100%">
        }
        else if(String.IsNullOrEmpty(this.Model.ImagePath) && this.Model.Gender == Medicard.Domain.Entities.Enums.Gender.Female)
        {
            <img class="card-img-top" src="/images/womenunknowndoctor.jpg" alt="Card image" style="width:100%">
        }
        else
        {
            <img class="card-img-top" src="~/images/@this.Model.ImagePath";base64,@this.Model.Image alt="Card image" style="width:100%;height:400px">
        }
        <h5 class="card-title">@this.Model.FirstName @this.Model.LastName</h5>
        <p class="card-text">Specialization - @this.Model.Specialization</p>
        <p class="card-text">ContactNumber - @this.Model.ContactNumber</p>
    </div>
    <a asp-controller="Doctor" asp-action="ChangeProfile" asp-route-id="@this.Model.Id" class="btn btn-warning">Change Profile</a>
</div>