@model Medicard.Services.ViewModels.Patient.PatientProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Personal info";
}

<div class="row">
   <div class="card border-dark mb-3" style="max-width: 18rem;">
        <form asp-action="ChangeProfile" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="@this.Model.FirstName">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="@this.Model.LastName">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="@this.Model.Address">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" 
                    class="form-control" 
                    asp-items="Html.GetEnumSelectList<Medicard.Domain.Entities.Enums.Gender>()">
                <option>@Localizer["SelectGender"]</option>
            </select>
            </div>

            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="@this.Model.Age">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactNumber"></label>
                <input asp-for="ContactNumber" class="form-control" placeholder="@this.Model.ContactNumber">
                <span asp-validation-for="ContactNumber" class="small text-danger"></span>
            </div>

            <div class="form-group">
                 <label asp-for="BirthDate" class="control-label"></label>
                 <input asp-for="BirthDate" type="date" class="form-control" placeholder="@this.Model.BirthDate" />
                 <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <select asp-for="MaritalStatus" 
                    class="form-control" 
                    asp-items="Html.GetEnumSelectList<Medicard.Domain.Entities.Enums.MaritalStatus>()">
                <option>@Localizer["SelectMaritalStatus"]</option>
            </select>
            </div>
            <input class="btn btn-warning mt-3 text-center" type="submit" value=@Localizer["Change"] />
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}