@{
    var messages = ViewBag.Messages as List< Medicard.Domain.Entities.Message>;
    var current = ViewBag.CurrentUser as Medicard.Domain.Entities.User;
    var username = current.UserName;
    var target = ViewBag.TargetUser as  Medicard.Domain.Entities.User;
    var targetname = target.UserName;
}

<h2>Chatting to @targetname!</h2>
<div class="jumbotron bg-light chat" id="chat">
    @if (messages != null)
    {
        @foreach (var message in messages.OrderBy(m => m.When))
        {
            var position = username == message.UserName ? "text-right" : "text-left";
            var alert = username == message.UserName ? "alert-info" : "alert-secondary";
            <div class="row">
                <div class="col-md-12 @position">
                    <small class="text-dark">@message.UserName</small>
                    <div class="alert mb-0 @alert" role="alert">
                        <span class="d-block" style="word-wrap: break-word;">@message.Text</span>
                    </div>
                    <small class="text-info">@message.When.ToString()</small>
                </div>
            </div>
        }
    }
</div>
<form asp-action="SendMessage" id="SendMessageForm" class="row">
    <div class="input-group mb-4 col-md-12">
        <input name="Text" id="MessageText" class="form-control" />
        <button type="submit" id="submitBtn" class="btn btn-info">Send</button>
    </div>
</form>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

    var username = "@username";
    var targetname = "@targetname";

    var objDiv = document.getElementById("chat");
    objDiv.scrollTop = objDiv.scrollHeight;

    var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

        connection.start().then(function () {
            connection.invoke('joinPrivate', targetname);
            document.getElementById("SendMessageForm").addEventListener("submit", function (event) {
                event.preventDefault();

                var data = {
                    Text: document.getElementById("MessageText").value,
                    UserName: username,
                    TargetName: targetname
                }

                if (document.getElementById("MessageText").value == "" || document.getElementById("MessageText").value.match(/^(\s)+$/)) return;

                document.getElementById("MessageText").value = ""
                connection.invoke("sendPrivateMessage", data).catch(function (err) {
                    return console.error(err.toString());
                });
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });

        window.addEventListener("unload", function () {
            connection.invoke("leavePrivate", targetname);
        });

        function formatDate(dateString) {
            var date = new Date(Date.parse(dateString))
            var dateStr =
                ("00" + date.getDate()).slice(-2) + "/" +
                ("00" + (date.getMonth() + 1)).slice(-2) + " " +
                ("00" + date.getHours()).slice(-2) + ":" +
                ("00" + date.getMinutes()).slice(-2);
            return dateStr;
        }

        connection.on("PrivateMessage", (data) => {
            var position = data.userName === username ? "text-right" : "text-left";
            var alert = data.userName === username ? "alert-info" : "alert-secondary";

            var message = document.createElement("div");
            message.className = "row";

            var messageCol = document.createElement("div");
            messageCol.classList = "col-md-12 " + position;

            var messageUser = document.createElement("small");
            messageUser.className = "text-dark";
            messageUser.textContent = data.userName;

            var messageAlert = document.createElement("div");
            messageAlert.classList = "alert mb-0 " + alert;

            var messageAlertMessage = document.createElement("div");
            messageAlertMessage.className = "d-block";
            messageAlertMessage.style.cssText = "word-wrap: break-word;";
            messageAlertMessage.innerHTML = data.text;

            var messageDt = document.createElement("small");
            messageDt.className = "text-info";
            messageDt.textContent = formatDate(data.date_time);

            messageAlert.appendChild(messageAlertMessage);
            messageCol.appendChild(messageUser);
            messageCol.appendChild(messageAlert);
            messageCol.appendChild(messageDt);
            message.appendChild(messageCol);
            console.log(message);
            document.getElementById("chat").appendChild(message);
            objDiv.scrollTop = objDiv.scrollHeight;
        });

    </script >
}
