@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<Medicard.Domain.Entities.User> SignInManager
@inject IViewLocalizer Localizer

<li class="nav-item">
    <a class="nav-link text-white" asp-area="" asp-controller="Doctor" asp-action="AllDoctors"><i class="fas fa-user-md"></i> @Localizer["LinkToViewAllDoctors"]</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white" asp-area="" asp-controller="Institution" asp-action="AllInstitutions"><i class="fas fa-building"></i> @Localizer["LinkToViewAllInstitutions"]</a>
</li>
@if (SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Appointment" asp-action="AllAppointments"><i class="fas fa fa-calendar"></i> @Localizer["LinkToViewAllAppointments"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Chat" asp-action="AllChats"><i class="fas fa-comment"></i> @Localizer["Chats"]</a>
    </li>
    @if (this.User.IsInRole("Doctor") || this.User.IsInRole("Head doctor"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Patient" asp-action="AllPatients"><i class="fas fa-head-side-cough"></i> @Localizer["Patients"]</a>
        </li>
    }
    @if (this.User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Statistics"><i class="fas fa-percent"></i> @Localizer["Statistics"]</a>
        </li>
    }
}