@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<Medicard.Domain.Entities.User> SignInManager
@inject IViewLocalizer Localizer

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="AllDoctors">@Localizer["LinkToViewAllDoctors"]</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Institution" asp-action="AllInstitutions">@Localizer["LinkToViewAllInstitutions"]</a>
</li>
@if (SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="AllAppointments">@Localizer["LinkToViewAllAppointments"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Private">@Localizer["Chats"]</a>
    </li>
}
@if (this.User.IsInRole("Doctor"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="AllPatients">@Localizer["Patients"]</a>
    </li>
}
@if (this.User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Statistics">@Localizer["Statistics"]</a>
    </li>
}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Localizer["Profile"]
        </a>
        <ul class="dropdown-menu">
        @if (SignInManager.IsSignedIn(this.User))
        {
            @if (this.User.IsInRole("Patient"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="ViewProfile">@Localizer["ViewProfile"]</a>
                </li>
            }
            else if (this.User.IsInRole("Doctor") || this.User.IsInRole("Head doctor"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="ViewProfile">@Localizer["ViewProfile"]</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">@Localizer["ChangePassword"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="DeletePersonalData">@Localizer["DeletePersonalData"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
            </li>
        }
    </ul>
</li>